layout {
  tab name="Main"  {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    } 
    
    pane name="𐱅𐰇𐰼𐰰" focus=true

    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="HTOP" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane {
      command "htop"
      args "-d 30"
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
