layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  
  tab name="Main"  {
    pane name="𐱅𐰇𐰼𐰰" focus=true
  }

  tab name="HTOP" {
   pane {
      command "htop"
      args "-d 30"
    }
  }
}
